<ion-view ng-controller="LoginController as vm">
	<ion-header-bar class="bar-assertive">
	    <h1  class="title">Welcome to ChatApp</h1>    
          </ion-header-bar>            
      <ion-content>
                  <div class="item item-input">                       
                        <input type="text" ng-change="change()" placeholder="Enter your nickname" ng-model="username" name="username">                       
                  </div>
<!--                   <div class="item item-input">                       
                        <input type="text" ng-change="change()" placeholder="Enter your avatar url" ng-model="avatar" name="avatar">
                  </div> -->
                  <button class="button button-small button-assertive icon icon-right ion-log-in" ng-click="join(username,avatar)">Login</button>
      </ion-content>
</ion-view>